extends layout

block content
  h1= title

  p.buttons
    a(href="play/") Enter the competition...
    a(href="clear/") Clear all entries.

  h2 Player Entries
  ul.entries
    each entry in entries
      li= entry.name

  p
    a(href="tournament/") Begin the games!